@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-height {
    transition-property: height;
    transition-duration: 500ms;
}

.background-image-blur {
    //overflow: hidden;
    position: relative; 
    color: white;
}

.background-image-blur::before {
    content: "";
    position: absolute;
    top: -10;
    bottom: -10;
    left: -10;
    right: -10; 
    z-index: -1;

    display: block;

    // -webkit-filter: blur(5px) brightness(0.6);
    // -moz-filter: blur(5px) brightness(0.6);
    // -o-filter: blur(5px) brightness(0.6);
    // -ms-filter: blur(5px) brightness(0.6);
    // filter: blur(5px) brightness(0.6);

    background-image: var(--bg-image);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.timeline {
    position: absolute;

// SCROLLBAR 

body {
    overflow: overlay;
}


::-webkit-scrollbar {
    width: 14px;
    height: 18px;
  }
  
  ::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 7px;
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
      inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }
  
  ::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
}